<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creme Dental</h5>
          <p class="card-text"></p>
            <a href="#" class="btn btn-primary container-fluid">Compre-já</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/camisa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camisa do Brasil</h5>
          <p class="card-text"></p>
            <a href="#" class="btn btn-primary container-fluid">Compre-já</a>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../assets/mochila.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mochila</h5>
              <p class="card-text"></p>
                <a href="#" class="btn btn-primary container-fluid">Compre-já</a>
            </div>
        
        <div class="card" style="width: 18rem;">
            <img src="../../assets/livro2.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Livro Imperdivel</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary container-fluid">Compre-já</a>
                </div>
      </div>
</div>

